
  
  body{
    background-image: url("../img/gifffff.gif");
    font-family: 'Indie Flower';
    font-size: 18px;
    text-align: center;
  }

  .presentacion{
    border-radius: 15px;
    margin: 30px auto;
    width: 50%;
    color: white;
    text-align: center;
  }

  h1{
    text-align: center;
  }

.clave1{
    width: 500px;
    height: 30px;
}
p{
    text-align: center;
    color: white;
}

.titulo{
  text-align: left;
}

.titulo1{
  text-align: center;
}

textarea{
  height:400px;
  width: 700px;
  resize: none;
  color:white;
  background-color:transparent;
  border:5px solid skyblue;
  font-size: 15px;
}
.titulo2{
  display: flex;
  justify-content: right;
}

textarea::placeholder{
  color:white;
  font-size: 15px;
}
.boton1{
  height: 30px;
  width: 70px;
}
.boton2{
  height: 30px;
}
.resultado1{
  color:white;
}